<div id="lesson-list">
    <!-- <p ng-show="main.user.loggedIn">
    This is the chords sectionasd
    </p> -->
    <div class="col-md-12">
        <div class="search center-block">
            <input ng-model="searchBox.title" class="center-block mt32" placeholder="Search in Lessons" />
        </div>
    </div>
    <div ng-repeat="section in categorySections">
        <div class="lesson-section col-md-12">
            <h2>{{ section.title }}</h2>
            <p>{{ section.description }}</p>
        </div>
        <div class="row-flex row-flex-wrap col-md-12">
            <div ng-repeat="lesson in section.lessons | filter:searchBox" class="col-md-3">
                <div class="panel flex-col">
                    <div class="panel-title">
                        <small>{{ lesson.date }}</small>
                        <h3><a href="#/chords/{{ lesson.id }}">{{ lesson.title }}<a/></h3>
                    </div>
                    <div class="panel-body flex-grow">
                        <p>{{ lesson.shortDescription }}</p>
                    </div>
                    <div class="panel-footer">
                        <a href="#/chords/{{ lesson.id }}"><i class="fa fa-angle-right"></i> Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>