<div id="lesson_container">
    <div class="lesson">
        <lesson-category-panel class="col-md-3 left-lessons in hidden-sm hidden-xs" ng-controller="lessonCtrl"></lesson-category-panel>
        <div class="col-md-9">
            <div class="detailed-lesson">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-secondary">Previous lesson</button>
                        <button class="btn btn-success pull-right">Next lesson</button>
                    </div>
                </div>

                <!-- <h2><pre>{{ lesson | json }}</pre></h2> -->
                <h2>{{ lesson.title }}</h2>
                <p>{{lesson.description}}</p>
                <div>{{lesson.videoIframe}}</div>
                <div lesson-youtube code="code"></div>
                <track-soundcloud></track-soundcloud>
            </div>
        </div>
    </div>
</div>
