@import "vendor-prefixes.less";
@import "/bootstrap/variables.less";
@import "app_variables.less";
@import '/bootstrap/bootstrap.less';

/*Page specific*/

@import "login.less";
@import "lesson.less";

@font-face {
  font-family: 'Proxima-light';
  src: url("../fonts/Proxima Nova Alt Light.otf");
}

.vertical-align(@position: static) {
  position: @position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mt32 {
    margin-top: 32px;
}
.mb32 {
    margin-bottom: 32px;
}

h1, h2, h3, h4, h5, h6, a, p, span, small {
    font-family: 'Proxima-light', sans-serif;
}

///////// General styles ///////////

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
     margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
    width:100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

a {
    color: @app-primary;
    &:hover {
        color: @gray;
        text-decoration: none;
    }
}
.panel {
    .panel-title {
        padding: 5px 15px 0 15px;
        small {
            font-size: 12px;
            color: @gray-light;
        }
        h4 {
            margin-bottom: 0;
            color: @app-secondary;
        }
    }
    .panel-footer {
        background-color: transparent;
    }
    background-color: #fff;
    border-radius: 0;
    border: none;
    .box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25));
    
}
body {
    background-color: @link-color-light;
}
header {
    .navbar-default {
        border: none;
        #gradient > .horizontal(#3c4d68; @app-primary);
        background-color: @app-primary;
        border-radius: 0;
        margin-bottom: 0 !important;
        @media (min-width: @screen-sm-min) {
            .container-fluid, .container-fluid > .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    #main-navbar {
        overflow-y: visible;
        #top_menu > ul, #right_menu > ul {
            .active > a {
                background-color: transparent;
                color: #E8C51A;
            }
            li {
                @media (min-width: @screen-sm-min) {
                    display: inline-block;
                    height: 60px;
                    position: static;
                    float: none;
                }
                a {
                    text-transform: uppercase;
                    color: white;
                    img {
                        max-height: 30px;
                    }
                }
                .dropdown-menu li {
                    display: block;
                    a {
                        color: @gray-light;
                    }
                } 
                .dropdown-toggle {
                    .fa::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: auto;
                        bottom: auto;
                        right: 0;
                        .transform-origin(50% 50% 0);
                        .transition(all 300ms ease 0s);
                        width: 10px;
                        height: 1px;
                        background-color: black;
                        box-shadow: 0 1px 1px rgba(33,49,58,.1);
                        .rotate(45deg);
                        right: 6.07px;
                    }
                    .fa::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: auto;
                        bottom: auto;
                        right: 0;
                        .transform-origin(50% 50% 0);
                        .transition(all 300ms ease 0s);
                        width: 10px;
                        height: 1px;
                        background-color: #21313a;
                        box-shadow: 0 1px 1px rgba(33,49,58,.1);
                        .rotate(-45deg);
                        &:focus {
                            left: 115px;
                        }
                    }
                }
                /*.full-width-dropdown {
                    width: 100vw;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    float: left;
                    border-radius: 0;
                    box-shadow: 0 0px 4px rgba(0,0,0,.175);
                    padding: 30px;
                    @media (max-width: @screen-xs-max) {
                        position: relative;
                        width: 100%;
                        box-shadow: none;
                    }
                    .category-img {
                        width: 200px;
                    }
                    & li {
                        height: auto;
                    }
                    & .category-img {
                        width: 50px;
                        padding-top: 15px
                    }
                }*/
            }
        }
    }
    #right_menu {
        float: right;
        @media (max-width: @screen-xs-max) {
            float: left;
        }
    }
}

main {
    min-height: 85vh;
}

/*Footer*/
footer {
    border-top: 1px solid @app-primary;
    padding-top: 32px;
}