@import "import.less";

///////// General styles ///////////

.badge {
    background-color: @color-secondary;
    font-size: 10px;
}
.btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: 300;
    @media (min-width: @screen-sm-min) {
        font-size: 25px;
    }
    @media (min-width: @screen-lg-min) {
        padding: 15px 50px;
    }
}
.btn-primary {
    background-color: transparent;
    border-color: white;
    color: @active-color;
    .transition(all 0.2s linear);
    &:hover {
        background-color: transparent;
        border-color: @active-color;
    }
}
.btn-secondary {
    background-color: transparent;
    border-color: @app-secondary;
    color: @gray-light;
    .transition(all 0.2s linear);
    &:hover {
        background-color: transparent;
    }
}
.btn-success {
    background-color: @active-color;
    border-color: transparent;
    color: white;
    .transition(all 0.2s linear);
    &:hover {
        border-color: transparent;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
        background-color: darken(@active-color, 10%);
    }
}
.mt0 {
    margin-top: 0;
}
.mt16 {
    margin-top: 16px;
}
.mt32 {
    margin-top: 32px;
}
.mt64 {
    margin-top: 64px;
}
.mb0 {
    margin-bottom: 0;
}
.mb16 {
    margin-bottom: 16px;
}
.mb32 {
    margin-bottom: 32px;
}
.mb64 {
    margin-bottom: 64px;
}

.row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
    @media screen and (max-width: @screen-sm-max) {
        display: block;
    }
}

.row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
     margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div, .row-flex > div[class*='col-'] div {
    width:100%;
}

.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
}

.flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
}

///////// Page Elements ///////////
.dl-horizontal dt {
    width: 40px;
    text-align: left;
}
.dl-horizontal dd {
    margin-left: 50px;
}
.panel {
    .panel-title {
        padding: 5px 15px 0 15px;
        small {
            font-size: 12px;
            color: @gray-light;
        }
        h4 {
            margin-bottom: 0;
            color: @app-secondary;
        }
    }
    .panel-footer {
        background-color: transparent;
    }
    background-color: #fff;
    border-radius: 0;
    border: none;
    .box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25));
}
/*FORM, INPUT, BUTTON*/
.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    border: none;
    border-bottom: 2px solid @app-secondary;
    background-color: transparent;
    &:focus {
        box-shadow: none;
        border-color: @app-primary;
    }
}
.input-group-addon {
    background-color: transparent;
    border: none;
}
.form-control:focus::-webkit-input-placeholder {
    color: @app-primary;
}
label {
    font-weight: 300;
}
button {
    &:focus {
        outline: none;
    }
}
/*MODAL*/
.modal-content {
    border-radius: 0;
    .modal-header, .modal-footer {
        border: none;
    }
    .modal-header {
        h2 {
            text-transform: uppercase;
        }
    }
    .modal-footer {
        padding: 0;
    }
}