#lesson-list {
    position: relative;
    .lesson-section {
        @media (min-width: @screen-md-min) {
            padding-left: 85px;
        }
    }
    .col-md-12, .col-md-3 {
        background-color: @link-color-light;
    }
    h3, h2 {
        color: @app-secondary;
    }
}
#lesson_container {
    background-color: @link-color-light;
    overflow: auto;
    .detailed-lesson {
        .transition(left 0.5s ease-in-out);
        @media (min-width: @screen-sm-min) {
            padding: 0 45px;
        }
    }
    .left-lessons.in {
        left: 0px;
    }
    .left-lessons {
        @media (min-width: @screen-sm-min) {
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            left: -22%;
        }
        .transition(left 0.5s ease-in-out);
        background-color: @app-secondary;
        position: relative;
        ul {
            padding: 10px;
            h4 {
                color: rgba(255, 255, 255, 0.5);
                text-transform: uppercase;
            }
            li {
                padding: 5px 0;
                > a {
                    padding-left: 15px;
                    color: #fff;
                }
            }
            .active > a {
                color: @active-color;
            }
        }
        .close {
            opacity: 1;
            color: white;
            text-shadow: none;
            position: absolute;
            right: 10px;
            top: 10px;
            .fa {
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .open {
        width: 40px;
        height: 40px;
        opacity: 1;
        text-shadow: none;
        position: absolute;
        left: 0;
        top: 80px;
        border: none;
    }
}