<section id="hero_banner" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#hero_banner" data-slide-to="0" class="active"></li>
        <li data-target="#hero_banner" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <section class="item active banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt64">
                        <h1 class="text-secondary mb0">Learn how to play</h1>
                        <h2 class="text-secondary mt0">WHAT YOU HEAR!</h2>
                        <h2 class="text-secondary">BE FREE</h2>
                        <h3 class="text-secondary">on the guitar!</h3>
                        <div class="row mt32 mb16">
                            <div class="col-xs-12 col-sm-6">
                                <a href="/#/pricing" class="btn btn-secondary text-primary">GET STARTED!</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="text-primary">or check out the FREE LESSONS!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="item banner2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt64">
                        <h1 class="text-white mb0">First orders available of</h1>
                        <h2 class="text-white mt0">How to escape from box shape.</h2>
                        <!-- <h2 class="text-white">BE FREE</h2>
                        <h3 class="text-white">on the guitar!</h3> -->
                        <div class="row mt32 mb16">
                            <div class="col-xs-12 col-sm-6">
                                <a href="/#/pricing" class="btn btn-success">GET IT NOW!</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="#" class="text-success">or check out the FREE LESSONS!</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <img src="../../../img/book.png" alt="">
                    </div> -->
                </div>
            </div>
        </section>
    </div>
</section>

<section id="features">
    <div class="features container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="banner-feature center-block">
                    <img src="img/feature-icon-1.png" alt="Backing Tracks">
                    <span>Backing tracks</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="banner-feature center-block">
                    <img src="img/feature-icon-2.png" alt="Music Sheets">
                    <span>Music sheets &amp; Tab notations</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="banner-feature center-block">
                    <img src="img/feature-icon-3.png" alt="Multiple Camera Angles">
                    <span>Multiple camera angle</span>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="intro">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h1 class="text-secondary mt64">
                Got stucked on the neck?
            </h1>
        </div>
            <div class="col-md-6">
                <h3 class="text-primary">
                    Are you fed up with repeating yourself?
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, inermis efficiantur vituperatoribus in usu, vis deleniti scripserit ea, at ullum possim maiestatis qui. In eos etiam libris, usu te sale repudiandae. Id saperet atomorum efficiantur has, ut admodum epicurei qui, vel veri quando quaestio et. At nam melius mandamus consequat. Labore forensibus an vix, ea vivendo omittam nec, sit feugiat tincidunt efficiantur ut.
                </p>
                <p>
                    No ius electram instructior. Case aperiam persecuti eu ius, qui ferri petentium maiestatis ea. Ne quando legere alterum vis, vide wisi eirmod usu eu. Id modo assueverit pro, te eam sonet corpora. Nec et prima libris, vel mutat dictas bonorum an. Quod nisl decore est ei, tale suas salutandi te quo. Ad prima everti vim, duo eu solet ubique mucius.
                </p>
            </div>
            <div class="col-md-6">
                
                <h3 class="text-primary">
                    Check out the free section!
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, inermis efficiantur vituperatoribus in usu, vis deleniti scripserit ea, at ullum possim maiestatis qui. In eos etiam libris, usu te sale repudiandae. Id saperet atomorum efficiantur has, ut admodum epicurei qui, vel veri quando quaestio et. At nam melius mandamus consequat. Labore forensibus an vix, ea vivendo omittam nec, sit feugiat tincidunt efficiantur ut.
                </p>
                <a href="#" class="text-success">Check out the FREE LESSONS!</a>
            </div>
            <div class="col-md-6 col-md-offset-3 mb64 text-center">
                <iframe class="mt32" width="100%" height="315" src="https://www.youtube.com/embed/tJrwElb8qPQ" frameborder="0" allowfullscreen></iframe>
                <a href="/#/login" class="btn btn-success mt32">GET STARTED!</a>
            </div>
        </div>
    </div>
</section>
<section id="home_tab">
    <div class="container mb32">
        <div class="row">
            <div class="col-md-12">
            <h1 class="text-secondary mb32">What will we cover?</h1>
                <div class="tabs-left row">
                    <ul class="nav nav-tabs col-md-3">
                        <li class="active"><a href="#a" data-toggle="tab">Break out from box pattern</a><span class="badge pull-right">32</span></li>
                        <li><a href="#b" data-toggle="tab">Modes and how to utilize them</a><span class="badge pull-right">10</span></li>
                        <li><a href="#c" data-toggle="tab">Advanced Soloing</a><span class="badge pull-right">5</span></li>
                        <li><a href="#d" data-toggle="tab">How to follow chord changes</a></li>
                        <li><a href="#e" data-toggle="tab">How to practise</a></li>
                        <li><a href="#f" data-toggle="tab">Play what you hear</a></li>
                    </ul>
                    <div class="tab-content col-md-9">
                        <div class="tab-pane active" id="a">
                            <h3>Who do you Love?</h3>
                        </div>
                        <div class="tab-pane" id="b">
                            <h3>What's your Favorite?</h3>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h4>Crystals &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <h4>Healing &nbsp; &nbsp;<span class="badge pull-right">90%</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <h4>Exploring &nbsp; &nbsp;<span class="badge pull-right">78%</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <h4>QiGong &nbsp; &nbsp;<span class="badge pull-right">83%</span></h4>
                                </li>
                                <li class="list-group-item">
                                    <h4>Myself &nbsp; &nbsp;<span class="badge pull-right">100%</span></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="c">CCCCThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
                        <div class="tab-pane" id="d">DDDDDSecondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                        <div class="tab-pane" id="e">EEEEEThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
                        <div class="tab-pane" id="f">FFFFFFThirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>