<section id="banner">
    <div class="col-md-4 col-md-offset-8 mt64">
        <h1>Learn how to play</h1>
        <h2>WHAT YOU HEAR!</h2>
        <h2>BE FREE</h2>
        <h3>on the guitar!</h3>
        <a href="/#/login" class="btn btn-secondary mt32">GET STARTED!</a>
        <a href="#" class="mt32">or check out the FREE LESSONS!</a>
    </div>
    <div class="col-md-12 features">
        <div class="col-md-4">
            <div class="banner-feature center-block">
                <img src="img/feature-icon-1.png" alt="Backing Tracks" style="height: 40px;">
                <span>Backing tracks to play against the harmony</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner-feature center-block">
                <img src="img/feature-icon-2.png" alt="Music Sheets" style="height: 40px;">
                <span>Music sheets &amp; Tab notations</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner-feature center-block">
                <img src="img/feature-icon-3.png" alt="Multiple Camera Angles" style="height: 40px;">
                <span>Multiple angle camera recordings to see both hands</span>
            </div>
        </div>
    </div>
</section>