<div id="fb-root"></div>

<script>

    /*function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
            testAPI();
        } else if (response.status === 'not_authorized') {
            document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
            document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1256806504343777',
            xfbml      : true,
            version    : 'v2.7'
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
        });
    }*/

/*(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.7&appId=1256806504343777";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));*/

</script>

<div id="login-form" class="col-md-6 col-md-offset-3 mt32"> <!-- ng-controller="loginCtrl" -->

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a showtab="" href="/#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a>
        </li>
        <li role="presentation">
            <a showtab="" href="/#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a>
        </li>
    </ul>

    <div class="tab-content">

        <div id="status">
        </div>
        
        <div role="tabpanel" class="tab-pane" id="signup">

            <h2 class="text-center">Please log in first.</h2>
            <form action="/" method="post">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>First Name<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                    </div>
                    <div class="field-wrap pull-right">
                        <label>Last Name<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Email Address<span class="req">*</span>
                        </label>
                        <input type="email" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Set A Password<span class="req">*</span>
                        </label>
                        <input type="password" required autocomplete="off"/>
                    </div>
                </div>
                <button id="reg-btn" type="submit" class="btn btn-primary center-block">Get Started</button>
            </form>
            
        </div>

        <div role="tabpanel" class="tab-pane active" id="login">
            
            <h2 class="text-center">Sign in</h2>
            <form action="/" method="post" name="userdetails.form">
                <div class="top-row">
                    <div class="field-wrap">
                        <label>Email Address<span class="req">*</span>
                        </label>
                        <input type="email" ng-model="userdetails.userName" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>Password<span class="req">*</span>
                        </label>
                        <input type="password" ng-model="userdetails.password" required autocomplete="off"/>
                    </div>
                </div>
                <button id="login-btn" type="submit" class="btn btn-primary center-block">Log In</button>
            </form>

        </div>

        <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button> -->

        <facebook-login-button></facebook-login-button>

    </div>


</div>