<div id="fb-root"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Signup</h2>
                <small>If you already have an account on our website, please <a href="#/login">login</a> to continue</small>
            </div>
        <div class="modal-body">
            <form class="form-horizontal row">
                <div class="col-md-12">
                    <h3>Personal details</h3>
                </div>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="email" class="form-control" placeholder="Your email">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        <input type="password" class="form-control" placeholder="Confirm password">
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>Payment options</h3>
                </div>
                <div class="form-group">
                    <!-- <label for="confirmPassword" class="col-sm-3 control-label">Payment method</label> -->
                    <div class="col-sm-12">
                        <div class="radio col-sm-6">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Paypal
                            </label>
                        </div>
                        <div class="radio col-sm-6">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                2checkout <br>
                                <small>Credit and Debit Cards</small>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success btn-block">Next</button>
        </div>
        </div>
    </div>
</div>

<section class="mb32">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt32 mb32">
                <h1 class="text-secondary mb32">What will you get if you subscribe?</h1>
            </div>
            <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">A comprehensive knowledge to be totally free on the guitar. Not only on the neck but also melodically.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">A plan, which contains the steps to reach your goal.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Tons of lessons to access at any time from everywhere.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Lots of tiny things which you will need in order to "sing" with your guitar, not just play.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">An easy and funny way to ipmrove.</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Video lessons with multiple camera angles so you can follow the left, right or both hands.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Interactive music sheet, which can be slowed down without loosing the key.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Quality and very enjoyable backing tracks to practise with.</dd>
                        <dt class="mb16"><i class="fa fa-check fa-2x text-success"></i></dt>
                        <dd class="mb16">Licks which you can bravely use in every situation.</dd>
                    </dl>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center mt0 text-primary">30 DAYS money back guarantee!</h2>
                    <img src="../../../img/money_back.png" alt="#" style="height:250px;" class="center-block">
                </div>
        </div>
    </div>
</section>

<section class="s_discount bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 mt32 mb32">
                <div class="s_discount_box row">
                    <div class="col-md-5">
                        <div class="s_discount_amount"><p class="currency">$</p><span class="h1 mt0">30</span></div>
                    </div>
                    <div class="col-md-7">
                        <div class="s_discount_brand">
                            <h3><strong>Monthly</strong></h3>
                        </div>
                            <div class="s_discount_type"><p>Pay as you go</p></div>
                        <div>
                            <a href="#" class="btn btn-primary mb32">Select</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt32 mb32">
                <div class="s_discount_box row">
                <div class="col-md-12">
                    <h2 class="text-center">Most popular</h3>
                </div>
                    <div class="col-md-5">
                        <div class="s_discount_amount"><p class="currency">$</p><span class="h1 mt0">150</span></div>
                    </div>
                    <div class="col-md-7">
                        <div class="s_discount_brand">
                            <h3><strong>6 Months</strong></h3>
                        </div>
                            <div class="s_discount_type"><p>$ 30 discount</p></div>
                        <div>
                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-success mb32">Select</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt32 mb32">
                <div class="s_discount_box row">
                    <div class="col-md-5">
                        <div class="s_discount_amount"><p class="currency">$</p><span class="h1 mt0">270</span></div>
                    </div>
                    <div class="col-md-7">
                        <div class="s_discount_brand">
                            <h3><strong>6 Months</strong></h3>
                        </div>
                            <div class="s_discount_type"><p>$ 90 discount</p></div>
                        <div>
                            <a href="#" class="btn btn-primary mb32">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="mt32 mb32">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <dl>
                <dt class="h4 text-secondary mb16">How can I get my money back?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
                <dt class="h4 text-secondary mb16">How does it work?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
                <dt class="h4 text-secondary mb16">Why does it work?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
            </dl>
            </div>
            <div class="col-md-6">
                <dl>
                <dt class="h4 text-secondary mb16">How can I quit?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
                <dt class="h4 text-secondary mb16">How does it work?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
                <dt class="h4 text-secondary mb16">Why does it work?</dt>
                <dd>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </dd>
            </dl>
            </div>
        </div>
    </div>
</section>