<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar" ng-controller="navCtrl as nav">

            <!-- Left Navbar -->

            <div class="col-md-8" id="top_menu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><img src="img/home_icon.png" alt=""/></a></li>
                    <li ng-repeat="category in mainCategories" ng-class="{ active: $index == selected }">
                        <a ng-click="select($index)" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="subcategory in subCategories">
                                <a href="#{{subcategory.url}}">{{subcategory.name}}</a>
                            </li>
                        </ul>
                    </li>
                    <!-- <li ng-class="{ active:nav.isSelected(1) }"><a href="#" ng-click="nav.selectNav(1)">{{nav.mainCategories[0].name}}</a></li>
                    <li ng-class="{ active:nav.isSelected(2) }" class="dropdown">
                        <a ng-click="nav.selectNav(2)" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{mainCategories[1].name}}<span class="fa"></span></a>
                        <div class="dropdown-menu full-width-dropdown">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#/chords">Chords</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#/scales">Scales</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#">Technique</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#">Arpeggios</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="scales">Fretboard Knowledge</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                        <div class="row mb32">
                                            <div class="col-md-2">
                                                <img src="img/categories/icon_chord.png" alt="" class="img img-responsive category-img hidden-xs"/>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="#">Picking Techniques</a><br>
                                                <span class="hidden-xs">Lorem ipsum dolor sit amet, nec an unum dictas. Sea exerci nullam ex, ad mel omittam legendos salutatus, eum ei regione sententiae. Cu eum odio nulla, et his nullam graece, tation alterum dolores cum ne.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li ng-class="{ active:nav.isSelected(3) }">
                        <a href="#" ng-click="nav.selectNav(3)">{{mainCategories[2].name}}</a>
                    </li> -->
                    <li ng-class="{ active:nav.isSelected(4) }">
                        <a href="#" ng-click="nav.selectNav(4)">Lick section</a>
                    </li>
                    <li ng-class="{ active:nav.isSelected(5) }" ng-show="header.user.loggedIn">
                        <a href="#" ng-click="nav.selectNav(5)">Memberships</a>
                    </li>
                </ul>
            </div>

            <!-- Right Navbar -->

            <div class="col-md-4" id="right_menu">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{ active:nav.isSelected(6) }" class="hidden-xs"><a ng-click="nav.selectNav(6)" href="#"><img src="img/search_icon.png" alt=""/></a></li>
                    <li ng-class="{ active:nav.isSelected(7) }" ng-show="header.user.loggedIn" class="dropdown">
                        <a ng-click="nav.selectNav(7)" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="img/myaccount_icon.png" alt="" class="hidden-xs"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Payments</a></li>
                        </ul>
                    </li>
                    <li ng-class="{ active:nav.isSelected(8) }">
                        <a href="#" ng-click="nav.selectNav(8)">
                            <img src="img/contact_icon.png" alt=""/>
                        </a>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>