<div ng-controller="lessonDetailCtrl as lesson" id="lesson_container">
    <button ng-click="openLeftBar()" class="open"><i class="fa fa-arrow-right"></i></button>
    <div class="left-lessons" ng-controller="lessonCtrl as lesson">
        <button ng-click="closeLeftBar()" class="close"><i class="fa fa-close"></i></button>
        <ul class="list-unstyled">
            <li ng-repeat="lesson in lessons" ng-show="lesson">
                <a href="#">{{ lesson.title }}</a>
            </li>
        </ul>
    </div>
    <div class="detailed-lesson">
        <h2>{{ lesson.title }} </h2>
        <p><small>Date added: {{ lesson.dateOfCreation | date : format : shortDate }}</small></p>
        <p>{{lesson.description}}</p>
        <div>{{lesson.videoIframe}}</div>
        <div lesson-youtube code="code"></div>
        <!-- <a href=" {{ lesson.videoUrl }} ">This is the link</a> -->
    </div>
</div>
