<div ng-controller="lessonDetailCtrl as lesson">
    <div class="col-md-2 left-lessons" ng-controller="lessonCtrl as lesson">
        <ul ng-repeat="lesson in lessons" class="list-unstyled">
            <li ng-show="lesson.intermediate">
                <a href="#">{{ lesson.title }}</a>
            </li>
        </ul>
    </div>
    <div class="container detailed-lesson">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ lesson.title }} </h2>
                <p><small>Date added: {{ lesson.dateOfCreation | date : format : shortDate }}</small></p>
                <p>{{lesson.description}}</p>
                <div>{{lesson.videoIframe}}</div>
                <div lesson-youtube code="code"></div>
                <!-- <a href=" {{ lesson.videoUrl }} ">This is the link</a> -->
            </div>
            
        </div>
    </div>
</div>