<div id="login-form" class="col-md-6 col-md-offset-3"> <!-- ng-show="main.user.loggedIn === false" -->
    <p>Please log in first.</p>
    <form action="/" method="post">

        <div class="top-row">
            <div class="field-wrap">
                <label>First Name<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" />
            </div>
            <div class="field-wrap">
                <label>Last Name<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>Set A Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
            </div>
        </div>

        <button type="submit" class="button button-block"/>Get Started</button>

    </form>
</div>